$color-primary: #de2551;
$color-primary-light: #e0345d;
$color-primary-dark: #d2204a;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;

$box-shadow: 5px 6px 6px 5px rgba(0, 0, 0, 0.2);

$font-poppins: "Poppins", sans-serif;
